.span-ingredients {
  margin-top: 20px;
}

.span-ingredients span {
  font-size: 24px; 
  margin-left: 10px;
  margin-top: 10px;
}

.box-ingredients {
  background-color: rgb(168, 168, 168);
  margin: 5px 10px; 
  padding: 10px;
}

.box-ingredients ul {
  margin-left: 20px;
}

.box-ingredients li {
  font-size: 18px;
  line-height: 24px;
}

.container-span {
  width: 100%;
  margin-top: 20px;
}

.container-span span {
  font-size: 24px; 
  margin-left: 10px;
  margin-top: 10px;
}

.box-instructions {
  background-color: rgb(168, 168, 168);
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: justify;
  line-height: 22px;
}

.recomendation-span {
  font-size: 24px; 
  margin-left: 10px;
  margin-top: 20px;
}

.container-recomendations {
  display: flex;
  margin-bottom: 65px;
  margin-top: 5px;

  width: 100%;
  height: auto;
  overflow: scroll;
}

.container-recomendations button {
  background: none;
  border: none;
}

.container-recomendations p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

.container-recomendations img {
  width: 175px;
  border-radius: 10px;
  margin-left: 10px;
}

.button-initial-recipe {
  
  display: flex;
  justify-content: center;
} 

.button-initial-recipe button {
  position: fixed;
  bottom: 0;
  background-color: chartreuse;
  font-size: 20px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px;
  cursor: pointer;
}
